@media screen and (max-width: 767px) and (min-width: 576px){
    .content-image .block-image{
        width: 45%;
    }
}

@media screen and (max-width: 767px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .title-main{
        font-size: 1.2rem;
    }
    .container{
        max-width: 100%;
        width: 100%;
        padding: 5%;
        margin: 0;
    }
    .content .row .col{
        margin: 0 auto;
        padding: 15px;
        width: 90%;
        flex: none;
    }
    .advantages-content{
        padding: 0;
    }
    header .text-block{
        margin: 30% 15%;
        width: 75%;
    }
    .phone-content{
        padding: 0;
        flex-direction: column;
    }
    .phone-content .text-content,.phone-content{
        margin: 0 auto;
        text-align: center;
    }
    .phone-content .text-content{
        width: 90%;
    }
    .phone-image img{
        width: 50%;
    }
    .items-section .items{
        padding: 0;
        flex-wrap: wrap;
    }
    .items .block{
        justify-content: center;
        width: 45%;
    }
    .items .image{
        width: 80px;
        text-align: center;
    }
    .team-section .content-image{
        padding: 0;
    }
    .team-section .head-content{
        width: 100%;
    }
    .skills-section .main-content{
        align-items: center;
    }
    .skills-section{
        padding: 0;
    }
    .skills-section .main-content{
        flex-direction: column;
    }
    .skills-section .diagram{
        /*transform: rotate(90deg);*/
    }
    /*.diagram .name{*/
    /*    height: 150px;*/
    /*}*/
    .company .main-block{
        flex-wrap: wrap;
    }
    .main-block .block{
        width: 30%;
    }
    .video-section{
        height: 300px;
    }
    .news{
        padding: 0;
    }
    .news .title{
        width: 100%;
    }
    .news .block{
        margin: 40px 0;
        flex-direction: column;
    }
    .news .content-block .block{
        align-items: center;
    }
    .news .text-content{
        width: 100%;
    }
    .block .image-block,.block .text-content{
        text-align: center;
    }
    .quote-content img{
        width: 1.5rem;
    }
    .quote .quote-content{
        padding: 15px;
    }
    .quote-content .content{
        margin: 0;
    }
    .form-section .content-form{
        padding: 0;
    }
}


@media screen and (max-width: 578px){
    header{
        display: grid;
        height: auto;
    }
    header .menu{
        padding: 10px;
        width: 100%;
        height: fit-content;
        display: flex;
    }
    header h5{
        margin: 0 auto;
        transform: none;
    }
    .menu .fa-bars{
        margin-top: 0;
    }
    .block-media-image{
        flex-wrap: wrap;
    }
    .block-media-image .block{
        margin-top: 20px;
        width: 100%;
    }
    .advantages {
        display: grid;
        text-align: center;
    }
    .images-blocks{
        justify-content: center;
    }
    .images-blocks .block-image{
        width: 100%;
    }
    footer .media-links{
        padding: 0;
    }
    footer .links{
        flex-wrap: wrap;
        justify-content: center;
    }
    .models .links a{
        display: grid;
    }
    footer img{
        width: 3rem;
    }
}



@media screen and (max-width: 466px){
    .items-section .items .block{
        width: 90%;
        margin: 0 auto;
    }
    .skills-section .text{
        width: 100%;
    }
}